//$color-primary: #e6dace;
$color-primary: #3D2C8D;
//$color-primary-dark: #b8aea5;
$color-primary-dark: #1C0C5B;
//$color-primary-light: #f5f0eb;
$color-primary-light: #916BBF;


$color-accent: #0d1b2b;
$color-accent-2: #3F0071;
$color-accent-3: #FF013C;

$color-text-dark: #191a1c;
$color-text-dark-2: #484a50;
$color-text-light: #eaeaea;

$font-primary: 'Space Grotesk', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
